{% extends "base.html" %}
{% block static %}
<link href="{% static 'css/info.css' %}" rel="stylesheet">
{% endblock %}
{% block left %}

{% include 'left.html' %}
{% include 'left_tag.html' %}
     {% endblock %}
{% block content %}
    <main class="infosbox">
    <div class="newsview">
      <h3 class="news_title">{{ detail.title }}</h3>
      <div class="bloginfo">
        <ul>
          <li class="author">作者：<a href="/">{{ detail.user.username }}</a></li>
          <li class="lmname"><a href="/">{{ detail.category.name }}</a></li>
          <li class="timer">时间：{{ detail.created_time }}</li>
          <li class="view">{{ detail.views }}人已阅读</li>
        </ul>
      </div>
<div class="tags">
     {% for tag in detail.tags.all %}
        <a href="/" target="_blank">{{ tag.name }}</a>
     {% endfor %}


      <div class="news_about"><strong>简介</strong>{{ detail.excerpt }}</div>
      <div class="news_con">
          {%autoescape off%}
          {{ detail.body }}
          {% endautoescape %}
        &nbsp; </div>
    </div>
    <div class="share">
      <p class="diggit"> 很赞哦！ </a>(<b id="diggnum">{{ detail.likes }}</b>)</p>
    </div>
    <div class="nextinfo">
      <p>上一篇：{% if previous_blog %}
      <a href="{% url 'blog:article_detail' previous_blog.id %}">{{ previous_blog.title }}</a></p>
          {% else %} 没有了
      {% endif %}
      <p>下一篇：{% if netx_blog %}
          <a href="{% url 'blog:article_detail' netx_blog.id %}">{{ netx_blog.title }}</a></p>
    {% else %} 没有了
      {% endif %}
    </div>
    <div class="news_pl">
      <h2>文章评论</h2>
      <ul>
        <div class="gbko"> </div>
      </ul>
    </div>
    </div>
      </main>
{% endblock %}