{% load filters %}
<div class="about_me">
        <h2>关于我</h2>
        <ul>
          <i><img src="{% static 'images/4.jpg' %}"></i>
          <p><b>杨青</b>，一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。</p>
        </ul>
      </div>
{% if gallerys %}
    <div class="wdxc">
            <h2>我的相册</h2>
           <ul>
                {%for gallery in gallerys %}

                   <li><a href="{% url 'photologue_custom:gallery_detail' gallery.id %}"><img src="{{ gallery | img }}"></a></li>
                {%endfor%}
           </ul>
          </div>
{% endif %}